In [1]:
! pip install ipykernel

Requirement already satisfied: ipykernel in c:\users\mk744\onedrive - poornima university\desktop\failure risk prediction\venv\lib\site-packages (7.1.0)
Requirement already satisfied: comm>=0.1.1 in c:\users\mk744\appdata\roaming\python\python310\site-packages (from ipykernel) (0.1.4)
Requirement already satisfied: debugpy>=1.6.5 in c:\users\mk744\appdata\roaming\python\python310\site-packages (from ipykernel) (1.8.0)
Requirement already satisfied: ipython>=7.23.1 in c:\users\mk744\appdata\roaming\python\python310\site-packages (from ipykernel) (8.15.0)
Requirement already satisfied: jupyter-client>=8.0.0 in c:\users\mk744\appdata\roaming\python\python310\site-packages (from ipykernel) (8.3.1)
Requirement already satisfied: jupyter-core!=5.0.*,>=4.12 in c:\users\mk744\appdata\roaming\python\python310\site-packages (from ipykernel) (5.3.1)
Requirement already satisfied: matplotlib-inline>=0.1 in c:\users\mk744\appdata\roaming\python\python310\site-packages (from ipykernel) (0.1.6)
Requirement already satisfied: nest-asyncio>=1.4 in c:\users\mk744\appdata\roaming\python\python310\site-packages (from ipykernel) (1.5.7)
Requirement already satisfied: packaging>=22 in c:\users\mk744\onedrive - poornima university\desktop\failure risk prediction\venv\lib\site-packages (from ipykernel) (25.0)
Requirement already satisfied: psutil>=5.7 in c:\users\mk744\appdata\roaming\python\python310\site-packages (from ipykernel) (5.9.5)
Requirement already satisfied: pyzmq>=25 in c:\users\mk744\appdata\roaming\python\python310\site-packages (from ipykernel) (25.1.1)
Requirement already satisfied: tornado>=6.2 in c:\users\mk744\onedrive - poornima university\desktop\failure risk prediction\venv\lib\site-packages (from ipykernel) (6.5.4)
Requirement already satisfied: traitlets>=5.4.0 in c:\users\mk744\appdata\roaming\python\python310\site-packages (from ipykernel) (5.10.0)
Requirement already satisfied: backcall in c:\users\mk744\appdata\roaming\python\python310\site-packages (from ipython>=7.23.1->ipykernel) (0.2.0)
Requirement already satisfied: decorator in c:\users\mk744\appdata\roaming\python\python310\site-packages (from ipython>=7.23.1->ipykernel) (5.1.1)
Requirement already satisfied: jedi>=0.16 in c:\users\mk744\appdata\roaming\python\python310\site-packages (from ipython>=7.23.1->ipykernel) (0.19.0)
Requirement already satisfied: pickleshare in c:\users\mk744\appdata\roaming\python\python310\site-packages (from ipython>=7.23.1->ipykernel) (0.7.5)
Requirement already satisfied: prompt-toolkit!=3.0.37,<3.1.0,>=3.0.30 in c:\users\mk744\appdata\roaming\python\python310\site-packages (from ipython>=7.23.1->ipykernel) (3.0.39)
Requirement already satisfied: pygments>=2.4.0 in c:\users\mk744\onedrive - poornima university\desktop\failure risk prediction\venv\lib\site-packages (from ipython>=7.23.1->ipykernel) (2.19.2)
Requirement already satisfied: stack-data in c:\users\mk744\appdata\roaming\python\python310\site-packages (from ipython>=7.23.1->ipykernel) (0.6.2)
Requirement already satisfied: exceptiongroup in c:\users\mk744\appdata\roaming\python\python310\site-packages (from ipython>=7.23.1->ipykernel) (1.1.3)
Requirement already satisfied: colorama in c:\users\mk744\onedrive - poornima university\desktop\failure risk prediction\venv\lib\site-packages (from ipython>=7.23.1->ipykernel) (0.4.6)
Requirement already satisfied: wcwidth in c:\users\mk744\appdata\roaming\python\python310\site-packages (from prompt-toolkit!=3.0.37,<3.1.0,>=3.0.30->ipython>=7.23.1->ipykernel) (0.2.6)
Requirement already satisfied: parso<0.9.0,>=0.8.3 in c:\users\mk744\appdata\roaming\python\python310\site-packages (from jedi>=0.16->ipython>=7.23.1->ipykernel) (0.8.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\mk744\onedrive - poornima university\desktop\failure risk prediction\venv\lib\site-packages (from jupyter-client>=8.0.0->ipykernel) (2.9.0.post0)
Requirement already satisfied: platformdirs>=2.5 in c:\users\mk744\onedrive - poornima university\desktop\failure risk prediction\venv\lib\site-packages (from jupyter-core!=5.0.*,>=4.12->ipykernel) (4.5.1)
Requirement already satisfied: pywin32>=300 in c:\users\mk744\appdata\roaming\python\python310\site-packages (from jupyter-core!=5.0.*,>=4.12->ipykernel) (306)
Requirement already satisfied: six>=1.5 in c:\users\mk744\onedrive - poornima university\desktop\failure risk prediction\venv\lib\site-packages (from python-dateutil>=2.8.2->jupyter-client>=8.0.0->ipykernel) (1.17.0)
Requirement already satisfied: executing>=1.2.0 in c:\users\mk744\appdata\roaming\python\python310\site-packages (from stack-data->ipython>=7.23.1->ipykernel) (1.2.0)
Requirement already satisfied: asttokens>=2.1.0 in c:\users\mk744\appdata\roaming\python\python310\site-packages (from stack-data->ipython>=7.23.1->ipykernel) (2.4.0)
Requirement already satisfied: pure-eval in c:\users\mk744\appdata\roaming\python\python310\site-packages (from stack-data->ipython>=7.23.1->ipykernel) (0.2.2)

In [2]:
# ===============================
# STEP 1 : Import Libraries
# ===============================
import pandas as pd
import numpy as np

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.metrics import classification_report, confusion_matrix
from sklearn.ensemble import RandomForestClassifier
import matplotlib.pyplot as plt

import seaborn as sns
sns.set_theme()

In [3]:
df = pd.read_excel(r"C:\Users\mk744\Downloads\JPM25-26 TrackingSheetFinal (1).xlsx", sheet_name="Employees Enrollment Data")
df.columns

Index(['Timestamp', 'Status', 'Batch Code', 'First Name', 'Last Name',
       'Email ID', 'Full Name ', 'Duplicate', 'Contact Number', 'Gender',
       'DOB (Date Of Birth)', 'Marital Status', 'Religion', 'Category',
       'Parent/Guardian Name', 'Parent/Guardian Relation',
       'Parent's Occupation', 'Type of House', 'Household Income (Yearly)',
       'Current Address', 'Pincode ', 'City',
       'Type of Smart Devices Available', 'Highest Qualification', 'Stream',
       'Education Institute', 'Year Of Completion', 'Your Designation',
       'Employment Type', 'Company Name', 'Job Location', 'Job Location.1',
       'Are you currently working?',
       'ID Proof (Aadhaar Card / Pan Card / Voter ID / Office ID card / Any other ID Proof',
       'Education Document (Certificate / Marksheet of Highest Qualification)',
       'Photograph', 'Pin Code', 'Email Address', 'ID Proof Number',
       'Enquiry ID', 'Enrollment ID', ' ', 'Reasons for Non Enrolement',
       'Enrolled By', 'Assign', 'Unnamed: 45', 'Unnamed: 46', 'Unnamed: 47',
       'Unnamed: 48', 'Unnamed: 49', 'Unnamed: 50', 'Unnamed: 51',
       'Unnamed: 52'],
      dtype='object')

In [4]:
# Convert DOB → Age
df["Age"] = pd.to_datetime("today").year - pd.to_datetime(df["DOB (Date Of Birth)"]).dt.year

# Rename target column
df["Status"] = df["Status"].map({"Completed":1, "Dropped":0, "Fail":0}).fillna(0)
# ---- DROP DUPLICATES ----
df.drop_duplicates(
    subset = ["Email ID", "Enrollment ID", "Contact Number"],
    keep = "first",
    inplace = True
)

In [5]:
# ===============================
# STEP 3 : Select Features
# ===============================
features = df[[
    'First Name', 
    'Last Name',
    "Age",
    "Gender",
    "City",
    "Highest Qualification",
    "Stream",
    "Year Of Completion",
    "Are you currently working?",
    "Company Name",
    "Your Designation",
    "Employment Type"
]]

In [6]:
df_cols = features.rename(columns={"First Name": "First_Name", "Last Name": "Last_Name","Highest Qualification" : "Highest_Qualification", "Year Of Completion" : "Year_Of_Completion",
                         "Are you currently working?": "Are_you_currently_working", "Company Name": "Company_Name",
                         "Your Designation": "Your_Designation", "Employment Type": "Employment_Type"})
df_cols

,First_Name,Last_Name,Age,Gender,City,Highest_Qualification,Stream,Year_Of_Completion,Are_you_currently_working,Company_Name,Your_Designation,Employment_Type
0,Dimple,Nimesh,27,Female,faridabad,10th Pass,Arts,2018,No,Bharat Finance,Sales,Full Time
1,Khushbu,Yadav,20,Female,Delhi,12th Pass,Arts,2022,Yes,Bharat Finance,Executive,Full Time
2,Nisha,Jangid,20,Female,New delhi,12th Pass,Arts,2023,Yes,Bharat Finance,Executive,Full Time
3,Tara,Tara,24,Female,Delhi,12th Pass,Arts,2022,Yes,Bharat Finance,Executive,Full Time
4,Nitin,Chaurasiya,24,Male,New Delhi,Graduation,Science,2020,Yes,Bharat Finance,Executive,Full Time
...,...,...,...,...,...,...,...,...,...,...,...,...
146,Jeeva,Devendra,21,Male,Mumbai,12th Pass,Science,2025,No,Swiggy pvt.ltd,Delivery partner,Self Employed
147,Sania,Khan,20,Female,Mumbai,Graduation,Commerce,2025,Yes,Axis bank,Sale office,Full Time
148,Khan,Tarannum,22,Female,Mumbai,Graduation,Commerce,2024,No,Mustaq enterprises,Sales,Full Time
149,Vitthal,Jadhav,28,Male,Mumbai,Graduation,Science,2020,Yes,Harjai Technologies- Client: Essar Capital Ltd.,Data Entry Executive,Contract
150,Hasina Shaikh,Shafiullah shaikh,20,Female,Mumbai,12th Pass,Commerce,2022,No,Near by company,Sales,Part Time

In [7]:
df_cols.isnull().sum()

First_Name                   0
Last_Name                    0
Age                          0
Gender                       0
City                         0
Highest_Qualification        0
Stream                       0
Year_Of_Completion           0
Are_you_currently_working    0
Company_Name                 0
Your_Designation             0
Employment_Type              0
dtype: int64

In [8]:
df_cols['Company_Name'].value_counts().reset_index(name='count').sort_values(by='count', ascending=False)

                                        Company_Name  count
0                          Dorset Industries Pvt Ltd     50
1                                   AMRIT CEMENT LTD     48
2                  Hitachi cash management services      18
3                                     Bharat Finance     17
4                                           Factset       2
5                                           Startek       1
6                           Shriram Finance limited       1
7                                            Infinix      1
8                                  Permeier engeries      1
9                              Nirmaan organization       1
10                        Magicbus india foundation       1
11               Teleprformance global organisation       1
12                            Teamlease in RBL BANK       1
13                          Shriram finance limited       1
14                                         Altruist       1
15                                    Swiggy pvt.ltd      1
16                                        Axis bank       1
17                               Mustaq enterprises       1
18  Harjai Technologies- Client: Essar Capital Ltd.       1
19                                  Near by company       1

In [9]:
from tabulate import tabulate
print(tabulate(df_cols['Your_Designation'].value_counts().reset_index(name='count').sort_values(by='count', ascending=False), headers='keys', tablefmt='pretty'))

+-----+--------------------------------------+-------+
|     |           Your_Designation           | count |
+-----+--------------------------------------+-------+
|  0  |              Executive               |   9   |
|  1  |              Executive               |   7   |
|  2  |           Senior Executive           |   5   |
|  3  |                Sales                 |   3   |
|  4  |           Graduate Trainee           |   3   |
|  5  |               Manager                |   3   |
|  6  |                 MIS                  |   3   |
|  7  |        Deputy General Manager        |   3   |
|  8  |             Data Analyst             |   2   |
|  9  |           Sales executive            |   2   |
| 10  |          Executive Officer           |   2   |
| 11  |         HRMS IMPLEMENTATION.         |   2   |
| 12  |                 DME                  |   2   |
| 13  |          Process cordinator          |   2   |
| 14  |          Assistant manager           |   2   |
| 15  |                 CPO                  |   2   |
| 16  |      Cash processing executive       |   2   |
| 17  |             Sr. Manager              |   2   |
| 18  |           Jr. Data Analyst           |   2   |
| 19  |          Executive Officer           |   2   |
| 20  |             Sr. Officer              |   2   |
| 21  |             HR Executive             |   2   |
| 22  |          Assistant Manager           |   2   |
| 23  |              Team Lead               |   2   |
| 24  |              executive               |   1   |
| 25  |              Telecaller              |   1   |
| 26  |            Jr. Executive             |   1   |
| 27  |        Senior sales executive        |   1   |
| 28  |    Deputy EA to Managing Director    |   1   |
| 29  |            SR MANAGER HR             |   1   |
| 30  |         Senior Data Analyst          |   1   |
| 31  |             Team leader              |   1   |
| 32  |                  Tc                  |   1   |
| 33  |             Team leader              |   1   |
| 34  |          Assistant Manager           |   1   |
| 35  |        Assistant Manager- HR         |   1   |
| 36  |     Executive - Techno marketing     |   1   |
| 37  |               EA TO MD               |   1   |
| 38  |             Tellecaller              |   1   |
| 39  |            SR. EXECUTIVE             |   1   |
| 40  |              Supervisor              |   1   |
| 41  |     MANAGER - FINANCE & ACCOUNTS     |   1   |
| 42  |           Product Manager            |   1   |
| 43  |    Executive - Product management    |   1   |
| 44  |           Reaserch analyst           |   1   |
| 45  |          Account Receivable          |   1   |
| 46  |           Junior Executive           |   1   |
| 47  |           Digital officer            |   1   |
| 48  |          process cordinator          |   1   |
| 49  |            Chief manager             |   1   |
| 50  |         Jr. System Designer          |   1   |
| 51  |              EXECUTIVE               |   1   |
| 52  |   Executive for Frontend Developer   |   1   |
| 53  |           senior executive           |   1   |
| 54  |   SENIOR OFFICER SALES MANAGEMENT    |   1   |
| 55  |           Sr Chief manager           |   1   |
| 56  |          Research analysist          |   1   |
| 57  |    Senior officer Human resource     |   1   |
| 58  |            Sr. Executive             |   1   |
| 59  |   Senior Accounts Finance Execuive   |   1   |
| 60  |             Team member              |   1   |
| 61  |             Ites trainer             |   1   |
| 62  |        Production Department         |   1   |
| 63  |       Sr. Assistant Manager-HR       |   1   |
| 64  | CHIEF MANAGER - SALES DIGITALIZATION |   1   |
| 65  |              executive               |   1   |
| 66  |              Exicutive               |   1   |
| 67  |          Profiling officer           |   1   |
| 68  |           Senior Executive           |   1   |
| 69  |              Sr Officer              |   1   |
| 70  |                 AGM                  |   1   |
| 71  |           Senior Officers            |   1   |
| 72  |               Officer                |   1   |
| 73  |  Sr. Excutive (product Management)   |   1   |
| 74  |           Junior Executive           |   1   |
| 75  |                 ATMO                 |   1   |
| 76  |         Help desk executive          |   1   |
| 77  |       Case processing officer        |   1   |
| 78  |                 Atm                  |   1   |
| 79  |               MANAGER                |   1   |
| 80  |          Business Associate          |   1   |
| 81  |                 Mis                  |   1   |
| 82  |                 DGM                  |   1   |
| 83  |                DGM-HR                |   1   |
| 84  |               Cashier                |   1   |
| 85  |                 Avp                  |   1   |
| 86  |       Senior Executive REPORT        |   1   |
| 87  |              HR Support              |   1   |
| 88  |  Chief Manager - Finance & Accounts  |   1   |
| 89  |                  HR                  |   1   |
| 90  |                 Mis                  |   1   |
| 91  |           DGM - Production           |   1   |
| 92  |         Marketing Team Lead          |   1   |
| 93  |             ROUTE LEADER             |   1   |
| 94  |             Executive-HR             |   1   |
| 95  |        DEPUTY GENERAL MANAGER        |   1   |
| 96  |            Chief Manager             |   1   |
| 97  |          SR. DEPUTY MANAGER          |   1   |
| 98  |             Route Leader             |   1   |
| 99  |             Asst.Manager             |   1   |
| 100 |             DGM Service              |   1   |
| 101 |            Import Manager            |   1   |
| 102 |       Deputy marketing manager       |   1   |
| 103 |           Delivery partner           |   1   |
| 104 |             Sale office              |   1   |
| 105 |         Data Entry Executive         |   1   |
+-----+--------------------------------------+-------+

In [10]:
df_cols.columns

Index(['First_Name', 'Last_Name', 'Age', 'Gender', 'City',
       'Highest_Qualification', 'Stream', 'Year_Of_Completion',
       'Are_you_currently_working', 'Company_Name', 'Your_Designation',
       'Employment_Type'],
      dtype='object')

In [11]:

def suitability_label(designation):
    if pd.isna(designation):
        return "Senior_Not_Suitable"
    
    d = designation.lower().strip()

    # ----------------------
    # 1️⃣ STRICT SENIOR ROLES
    # ----------------------
    senior_keywords = [
        "deputy general manager",
        "general manager",
        "chief manager",
        "sr chief manager",
        "agm",
        "dgm",
        "avp",
        "vice",
        "gm",
        "product manager",
        "dgm - production",
        "chief manager - sales digitization",
        "import manager",
        "deputy marketing manager",
        "sr manager",
        "senior manager",
        "sr. deputy manager",
        "deputy ea to md",
        "marketing team lead",
        "team lead",
        "cpo",
        "ea to md",
        "chief",
        "head",
        "jr. data analyst"
    ]

    # ----------------------
    # 2️⃣ MID SENIOR / SPECIALIST
    # ----------------------
    mid_senior_keywords = [
        "senior executive",
        "sr. executive",
        "sr executive",
        "assistant manager",
        "assistant manager hr",
        "senior officer",
        "sr officer",
        "officer",
        "hrms implementation",
        "research analyst",
        "senior data analyst",
        "account finance executive",
        "business associate",
        "sr assistant manager",
        "sr manager hr"
    ]

    # ----------------------
    # 3️⃣ BEST FIT (COURSE SUITABLE)
    # ----------------------
    suitable_keywords = [
        "graduate trainee",
        "junior executive",
        "junior",
        "executive",
        "data entry executive",
        "telecaller",
        "mis",
        "team member",
        "supervisor",
        "trainee",
        "help desk",
        "sales",
        "delivery partner"
    ]

    # Exact Priority Handling
    if any(k in d for k in senior_keywords):
        return "Senior_Not_Suitable"
    
    if any(k in d for k in mid_senior_keywords):
        return "MidSenior_Not_Suitable"
    
    if any(k in d for k in suitable_keywords):
        return "Suitable"

    # Default: assume NOT suitable
    return "Senior_Not_Suitable"


df_cols["Suitability_Label"] = df_cols["Your_Designation"].apply(suitability_label)

df_cols["Suitability_Label"].value_counts()

Suitability_Label
Senior_Not_Suitable       65
Suitable                  50
MidSenior_Not_Suitable    35
Name: count, dtype: int64

In [12]:
df_cols

,First_Name,Last_Name,Age,Gender,City,Highest_Qualification,Stream,Year_Of_Completion,Are_you_currently_working,Company_Name,Your_Designation,Employment_Type,Suitability_Label
0,Dimple,Nimesh,27,Female,faridabad,10th Pass,Arts,2018,No,Bharat Finance,Sales,Full Time,Suitable
1,Khushbu,Yadav,20,Female,Delhi,12th Pass,Arts,2022,Yes,Bharat Finance,Executive,Full Time,Suitable
2,Nisha,Jangid,20,Female,New delhi,12th Pass,Arts,2023,Yes,Bharat Finance,Executive,Full Time,Suitable
3,Tara,Tara,24,Female,Delhi,12th Pass,Arts,2022,Yes,Bharat Finance,Executive,Full Time,Suitable
4,Nitin,Chaurasiya,24,Male,New Delhi,Graduation,Science,2020,Yes,Bharat Finance,Executive,Full Time,Suitable
...,...,...,...,...,...,...,...,...,...,...,...,...,...
146,Jeeva,Devendra,21,Male,Mumbai,12th Pass,Science,2025,No,Swiggy pvt.ltd,Delivery partner,Self Employed,Suitable
147,Sania,Khan,20,Female,Mumbai,Graduation,Commerce,2025,Yes,Axis bank,Sale office,Full Time,Senior_Not_Suitable
148,Khan,Tarannum,22,Female,Mumbai,Graduation,Commerce,2024,No,Mustaq enterprises,Sales,Full Time,Suitable
149,Vitthal,Jadhav,28,Male,Mumbai,Graduation,Science,2020,Yes,Harjai Technologies- Client: Essar Capital Ltd.,Data Entry Executive,Contract,Suitable
150,Hasina Shaikh,Shafiullah shaikh,20,Female,Mumbai,12th Pass,Commerce,2022,No,Near by company,Sales,Part Time,Suitable

In [13]:
df_cols.columns

Index(['First_Name', 'Last_Name', 'Age', 'Gender', 'City',
       'Highest_Qualification', 'Stream', 'Year_Of_Completion',
       'Are_you_currently_working', 'Company_Name', 'Your_Designation',
       'Employment_Type', 'Suitability_Label'],
      dtype='object')

In [14]:


df_cols['Suitability_Label'] = df_cols['Suitability_Label'].replace({
    "Senior_Not_Suitable": "Not_Suitable",
    "MidSenior_Not_Suitable": "Not_Suitable"
})

In [15]:
df_cols['Suitability_Label'].value_counts()

Suitability_Label
Not_Suitable    100
Suitable         50
Name: count, dtype: int64

In [16]:
df_cols.to_csv("Employee.csv", index= False)